In [75]:
import pandas as pd
import numpy as np
X_train = pd.DataFrame({
    'Default': [1,0,0,0,0,0,1],
    'Income': [250000,400000,'NAN',440000,500000,700000,800000],
    'Age': [20,30, 40,35,25,40,'NAN'],
    'Name':['Allen','Sara','Lily','Rock','David','Rose','Mat'],
    'Gender': ['M','F','F','M','M','F','M'],
    'Type of job': ['Skilled','Unskilled','Super skilled','Super skilled','NAN','Skilled','Skilled'],
    'Amt of credit':['NAN',30000,50000,80000,40000,100000,300000],
    'Years employed':[1,10,12,6,4,13,12]})
X_train=X_train.replace('NAN',np.NaN)

In [76]:
X_train

,Default,Income,Age,Name,Gender,Type of job,Amt of credit,Years employed
0,1,250000.0,20.0,Allen,M,Skilled,NaN,1
1,0,400000.0,30.0,Sara,F,Unskilled,30000.0,10
2,0,NaN,40.0,Lily,F,Super skilled,50000.0,12
3,0,440000.0,35.0,Rock,M,Super skilled,80000.0,6
4,0,500000.0,25.0,David,M,NaN,40000.0,4
5,0,700000.0,40.0,Rose,F,Skilled,100000.0,13
6,1,800000.0,NaN,Mat,M,Skilled,300000.0,12

In [77]:
cols_remove=['Name']
X_train = X_train.drop(cols_remove, axis=1)
#original order of columns
cols = X_train.columns

X_train_numeric=X_train.select_dtypes(include=['int', 'float']).columns
#joined columns numeric and non numeric
X_train_non_numeric=X_train.select_dtypes(exclude=['int', 'float']).columns
new = X_train_numeric.tolist() + X_train_non_numeric.tolist()

from sklearn.impute import SimpleImputer
from sklearn.compose import ColumnTransformer
t = [('num', SimpleImputer(strategy='median'), X_train_numeric),
('cat', SimpleImputer(strategy='most_frequent'), X_train_non_numeric)]
transformer = ColumnTransformer(transformers=t, remainder='passthrough')
X_train = transformer.fit_transform(X_train) #numpy array

#DataFrame constructor with new columns names and added reindex for change by original order
X_train = pd.DataFrame(X_train, columns=new).reindex(cols, axis=1)

In [63]:
type(X_train)

pandas.core.frame.DataFrame

In [73]:
X_train_non_numeric

Index(['Default', 'Gender', 'Type of job', 'Years employed'], dtype='object')

In [59]:
transformer

ColumnTransformer(n_jobs=None, remainder='passthrough', sparse_threshold=0.3,
                  transformer_weights=None,
                  transformers=[('num',
                                 SimpleImputer(add_indicator=False, copy=True,
                                               fill_value=None,
                                               missing_values=nan,
                                               strategy='median', verbose=0),
                                 Index(['Income', 'Age', 'Amt of credit'], dtype='object')),
                                ('cat',
                                 SimpleImputer(add_indicator=False, copy=True,
                                               fill_value=None,
                                               missing_values=nan,
                                               strategy='most_frequent',
                                               verbose=0),
                                 Index(['Default', 'Gender', 'Type of job', 'Years employed'], dtype='object'))],
                  verbose=False)

In [19]:
from sklearn.preprocessing import OneHotEncoder
#onehotencoder = pd.get_dummies(X_train['Gender'])
pd.get_dummies(X_train, columns=['Gender'])

# Drop column non_numeric_col as it is now encoded
#X_train = X_train.drop('Gender',axis = 1)
# Join the encoded dataframe to X_train
#X_train = X_train.join(onehotencoder)

KeyError: "None of [Index(['Gender'], dtype='object')] are in the [columns]"

In [78]:
X_train

  Default  Income   Age Gender    Type of job Amt of credit Years employed
0       1  250000    20      M        Skilled         65000              1
1       0  400000    30      F      Unskilled         30000             10
2       0  470000    40      F  Super skilled         50000             12
3       0  440000    35      M  Super skilled         80000              6
4       0  500000    25      M        Skilled         40000              4
5       0  700000    40      F        Skilled        100000             13
6       1  800000  32.5      M        Skilled        300000             12